# .config/prod/.env.example
# 本番用envファイル
# app.prod.tomlを上書きできる。
# APP__PATHS__DATA_DIR_PATH形式を採用

# discordのwebhookを上書き
# `,`で複数webhookを指定できる
APP__DISCORD__NOTIFY_WEBHOOK=WEBHOOK1,WEBHOOK2
APP__DISCORD__LOGS_WEBHOOK=WEBHOOK1,WEBHOOK2